<!--The content below is only a placeholder and can be replaced.-->
<!---<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<body style="background-color: burlywood">
<div class="app">
  <h1>MY LIBRARY</h1>
  <table align="center">
    <tr>
      <th>
          Title
      </th>
      <th>
          Author
      </th>
    </tr>
    <tr>
        <td><input type="text"  (input)="addtitle($event)"></td>
        <td><input type="text"  (input)="addauthor($event)"></td>
        <td><button class="but" (click)="Addbook($event)">Add</button></td>
    </tr>
  </table>
  <br><br>
  <table align="center" border="2" cellpadding=30px>
    <tr>
      <th>title</th>
      <th>author</th>
      <th>Delete</th>
    </tr>
    <!-- <tr>
      <td>Data Science</td>
      <td>John Doe</td>
      <td><button (click)="Deletebook1($event)">x</button></td>
    </tr>
    <tr>
      <td>Big Data</td>
      <td>Rao Ramesh</td>
      <td><button (click)="Deletebook2($event)">x</button></td>
    </tr> -->
    <tr *ngFor="let i of books;let in=index">
      <td> {{i.title}}</td>
      <td>{{i.author}}</td>
      <td><button (click)="delete(in)">x</button></td>
    </tr>
  </table>

</div>
</body>


<router-outlet></router-outlet>
